<div class="row mycontainer">
        <div class="col-md-12">
    
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="validationSN">UID:</label>
                    <input type="text" class="form-control is-valid" id="validationSN" 
                            placeholder="Serial Number" value="{{model.uid}}" readonly>
                  </div>
    
                  <div class="col-md-6 mb-3">
                    <label for="validationName">Gateway SN:</label>
                    <input type="text" class="form-control is-valid" id="validationName" 
                            placeholder="Name" value="{{pid}}" readonly>
                  </div>
                </div>
    
    
                <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label for="validationIp">Vendor:</label>
                          <input type="text" class="form-control is-valid" id="validationIp" 
                                  placeholder="IP address version 4"value="{{model.vendor}}"  readonly>
                        </div>
                        <div class="col-md-2 mb-3">
                          <label for="validationIp">Status:</label>
                          <input type="text" class="form-control is-valid" id="validationIp" 
                                  placeholder="IP address version 4"value="{{model.status}}"  readonly>
                        </div>
                        <div class="col-md-4 mb-3">
                          <label for="validationIp">Created:</label>
                          <input type="text" class="form-control is-valid" id="validationIp" 
                                  placeholder="IP address version 4"value="{{model.created}}"  readonly>
                        </div>
                </div>

                <span (click)="goback()" class="btn btn-secondary btn-sm">Goback </span>
    
        </div> 
    </div>