<div class="row mycontainer">
    <div class="col-md-12">

        <form #FrmMn="ngForm" (submit)="onSubmit()" >

                <div class="form-row">
                  <div class="col-md-6 mb-3" >
                    <label for="uid">Serial Number:</label>
                    <input type="text" class="form-control" [ngClass]="sn.valid ? 'is-valid' : 'is-invalid'" id="sn" name="sn" #sn="ngModel"
                            placeholder="Serial Number"  [(ngModel)]="model.sn" required>
                            <div class="invalid-feedback" [hidden]="sn.valid || sn.pristine">
                                Set the correct value for Serial Number.
                            </div>
                  </div>
                  <div class="col-md-6 mb-3" >
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" [ngClass]="name.valid ? 'is-valid' : 'is-invalid'" id="name" name="name" #name="ngModel"
                            placeholder="Name" [(ngModel)]="model.name" required>
                            <div class="invalid-feedback" [hidden]="name.valid || name.pristine">
                                Set the correct value for name.
                            </div>
                  </div>
                </div>
    
                <div class="form-row">
                  <div class="col-md-12 mb-3"  >
                    <label for="ip">IP address v4:</label>
                    <input type="text" class="form-control" [ngClass]="ip.valid ? 'is-valid' : 'is-invalid'" id="ip" name="ip" #ip="ngModel"
                            placeholder="IP address version 4" [(ngModel)]="model.ipv4"  required>
                            <div class="invalid-feedback" [hidden]="ip.valid || ip.pristine">
                                Set the correct value for IPv4.
                            </div>
                  </div>
                </div>
                
                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                <span (click)="onReset(model)" class="btn btn-danger btn-sm">Reset </span>
                <span (click)="onPhDetails(model)"  class="btn btn-secondary btn-sm">Edit Device List</span>
                <span (click)="goback(model)" class="btn btn-secondary btn-sm">Goback </span>
          </form>
    </div> 
</div>
