<div class="row mycontainer">
    <div class="col-md-12">

            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationSN">Serial Number:</label>
                <input type="text" class="form-control is-valid" id="validationSN" 
                        placeholder="Serial Number" value="{{model.sn}}" readonly>
              </div>

              <div class="col-md-6 mb-3">
                <label for="validationName">Name:</label>
                <input type="text" class="form-control is-valid" id="validationName" 
                        placeholder="Name" value="{{model.name}}" readonly>
              </div>
            </div>


            <div class="form-row">
              <div class="col-md-12 mb-6">
                <label for="validationIp">IP address version 4:</label>
                <input type="text" class="form-control is-valid" id="validationIp" 
                        placeholder="IP address version 4"value="{{model.ipv4}}"  readonly>
              </div>
            </div>

            <br>

            <div class="form-row">
                <div class="col-md-12 mb-6">
                  <span (click)="onPeripheral(model)" class="btn btn-secondary btn-sm">Show Peripherals Details</span>
                </div>
            </div>
    
    </div> 
</div>