<div class="row mycontainer">
    <div class="col-md-12">

        <form #FrmMn="ngForm" (submit)="onSave()">

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="uid">UID:</label>
                        <input type="number" class="form-control" [ngClass]="uid.valid ? 'is-valid' : 'is-invalid'" id="uid" name="uid" #uid="ngModel"
                                placeholder="Serial Number"  [(ngModel)]="model.uid" required>
                        <div class="invalid-feedback" [hidden]="uid.valid || uid.pristine">
                            Set the correct value for UID.
                        </div>
                    </div>


                    <div class="col-md-6 mb-3">
                        <label for="vendor">Vendor:</label>
                        <input type="text" class="form-control " [ngClass]="vendor.valid ? 'is-valid' : 'is-invalid'" id="vendor" name="vendor" #vendor="ngModel"
                                placeholder="Vendor"   [(ngModel)]="model.vendor" required>
                        <div class="invalid-feedback" [hidden]="vendor.valid || vendor.pristine">
                            Set the correct value for Vendor.
                        </div>
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="sts">Status:</label>
                        <input class="form-control form-check-input" type="checkbox" id="sts" name="sts" #sts="ngModel" 
                                placeholder="Status" type="checkbox" [(ngModel)]="model.status" >
                    </div>

                    <div class="col-md-6 mb-3"> 
                        <label for="date">Date:</label>
                        <input class="form-control is-valid"  [ngClass]="vendor.valid ? 'is-valid' : 'is-invalid'" id="date" name="date" #date="ngModel" 
                                placeholder="Name" type="date" [(ngModel)]="model.created" required>
                        <div class="invalid-feedback" [hidden]="date.valid || date.pristine">
                            Set the correct value for created date.
                        </div>
                    </div> 

                </div>
                
                <button class="btn btn-primary btn-sm" [disabled]="!FrmMn.form.valid" type="submit">Save</button>
                <span  class="btn btn-danger btn-sm" (click)="onReset()">Reset</span>
                <span (click)="goback()" class="btn btn-secondary btn-sm">Goback </span>
            </form>
    </div> 






